
<!DOCTYPE html>
<html>
<head>
  <title>Reddit Bot</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="/static/main.js" defer></script>
</head>
<body>
  <h1>Reddit Bot Dashboard</h1>
  <div id="bot-list"></div>
  <form id="bot-form">
    <input name="username" placeholder="Username"><br>
    <input name="password" placeholder="Password"><br>
    <input name="client_id" placeholder="Client ID"><br>
    <input name="client_secret" placeholder="Client Secret"><br>
    <button type="submit">Authenticate Bot</button>
  </form>
</body>
</html>
